.detail_blocks{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.detail_book{
    width: 600px;
    margin-right: 50px;
}
.detail_review{
    margin-top: 150px;
    width: 700px;
}
.detail_bold{
    font-weight: bold;
}

.link_to_review{
    text-decoration: none;
}
.desc_book{
    font-size: 15px;
}

.button_blocks{
    display: flex;
    justify-content: space-between;
}