{% extends 'book/base.html' %}

{% block content %}

    <div><h1>{{ story }} {{ amout_books }}</h1></div>
    <form action="{% url 'profile:search' %}" method="get" class="d-flex editContent mb-3">
    {% csrf_token %}
    <input type="search" name="search" class="form-control" placeholder="Введите название книги">
    <button class="btn" type="submit">Поиск</button>
    </form>

{#    <div class="mb-2"><a href="{% url 'profile:add_book' %}" class="link-secondary">Добавить книгу</a></div>#}

    <table class="table table-hover">
    <thead class="table-info">
        <th class="col">Название</th>
        <th class="col">Автор</th>
{#        <th class="col">Категория</th>#}
        <th class="col">Моя оценка</th>
        <th class="col">Дата записи</th>
        <th class="col">Любимая книга</th>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
{#            <td>{{ book.category }}</td>#}
            <td style="color: orange; font-weight: bold">{{ book.rating }}</td>
            <td style="color: darkgray">{{ book.time_create | date:'d F Y'}}</td>
            {% if book.favorite %}
            <td>&#9989;</td>
            {% else %}
            <td></td>
            {% endif %}
{#            <td>{{ book.favorite | yesno:"yeah,no,maybe"}}</td>#}
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}